-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "protocols" (
    "id" UUID NOT NULL,
    "protocol_pubkey" VARCHAR(44) NOT NULL,
    "name_encrypted" BYTEA NOT NULL,
    "tier" SMALLINT NOT NULL DEFAULT 0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "is_suspended" BOOLEAN NOT NULL DEFAULT false,
    "sends_this_period" BIGINT NOT NULL DEFAULT 0,
    "overage_enabled" BOOLEAN NOT NULL DEFAULT false,
    "period_reset_at" TIMESTAMPTZ(6) NOT NULL DEFAULT (now() + '30 days'::interval),
    "subscription_expires_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "protocols_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "api_keys" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "key_hash" VARCHAR(64) NOT NULL,
    "key_prefix" VARCHAR(20) NOT NULL,
    "environment" VARCHAR(10) NOT NULL,
    "scopes" TEXT[] DEFAULT ARRAY['notify:write']::TEXT[],
    "name" VARCHAR(100),
    "last_used_at" TIMESTAMPTZ(6),
    "is_revoked" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "api_keys_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "wallet_hash" VARCHAR(64) NOT NULL,
    "status" VARCHAR(20) NOT NULL DEFAULT 'queued',
    "category" VARCHAR(20) NOT NULL DEFAULT 'defi',
    "subject_hash" VARCHAR(64) NOT NULL,
    "idempotency_key" VARCHAR(128),
    "write_receipt" BOOLEAN NOT NULL DEFAULT true,
    "queued_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "processing_at" TIMESTAMPTZ(6),
    "delivered_at" TIMESTAMPTZ(6),
    "receipt_tx" VARCHAR(88),
    "ses_message_id" VARCHAR(100),
    "email_provider" VARCHAR(20),
    "bounce" BOOLEAN NOT NULL DEFAULT false,
    "bounce_type" VARCHAR(10),
    "error_code" VARCHAR(80),
    "retry_count" SMALLINT NOT NULL DEFAULT 0,
    "arweave_id" VARCHAR(100),

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "channel_deliveries" (
    "id" UUID NOT NULL,
    "notification_id" UUID NOT NULL,
    "channel" VARCHAR(20) NOT NULL,
    "success" BOOLEAN NOT NULL DEFAULT false,
    "message_id" VARCHAR(200),
    "provider" VARCHAR(30),
    "error" TEXT,
    "delivered_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "channel_deliveries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "webhooks" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "url" TEXT NOT NULL,
    "events" TEXT[] DEFAULT ARRAY['notification.delivered']::TEXT[],
    "secret_hash" VARCHAR(64) NOT NULL,
    "secret_prefix" VARCHAR(10),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "failure_count" SMALLINT NOT NULL DEFAULT 0,
    "last_success_at" TIMESTAMPTZ(6),
    "last_failure_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "webhooks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "webhook_deliveries" (
    "id" UUID NOT NULL,
    "webhook_id" UUID NOT NULL,
    "notification_id" UUID,
    "event" VARCHAR(40) NOT NULL,
    "http_status" SMALLINT,
    "latency_ms" INTEGER,
    "attempt" SMALLINT NOT NULL DEFAULT 1,
    "success" BOOLEAN NOT NULL DEFAULT false,
    "error" TEXT,
    "attempted_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "webhook_deliveries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "dkim_keys" (
    "id" UUID NOT NULL,
    "protocol_id" UUID,
    "domain" VARCHAR(255) NOT NULL,
    "selector" VARCHAR(63) NOT NULL,
    "public_key" TEXT NOT NULL,
    "kms_key_id" VARCHAR(255) NOT NULL,
    "dns_verified" BOOLEAN NOT NULL DEFAULT false,
    "verified_at" TIMESTAMPTZ(6),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "dkim_keys_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "email_bounces" (
    "id" UUID NOT NULL,
    "notification_id" UUID,
    "wallet_hash" VARCHAR(64),
    "bounce_type" VARCHAR(10) NOT NULL,
    "ses_message_id" VARCHAR(100),
    "diagnostic_code" TEXT,
    "bounced_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "email_bounces_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "digest_queue" (
    "id" UUID NOT NULL,
    "wallet_hash" VARCHAR(64) NOT NULL,
    "protocol_id" UUID NOT NULL,
    "subject" TEXT NOT NULL,
    "body_arweave_id" VARCHAR(100),
    "category" VARCHAR(20) NOT NULL,
    "queued_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "scheduled_for" TIMESTAMPTZ(6) NOT NULL,
    "sent_at" TIMESTAMPTZ(6),

    CONSTRAINT "digest_queue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subscriptions" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "tier" SMALLINT NOT NULL DEFAULT 0,
    "status" VARCHAR(20) NOT NULL DEFAULT 'inactive',
    "helio_subscription_id" VARCHAR(100),
    "helio_customer_id" VARCHAR(100),
    "current_period_start" TIMESTAMPTZ(6),
    "current_period_end" TIMESTAMPTZ(6),
    "sends_this_period" BIGINT NOT NULL DEFAULT 0,
    "period_reset_at" TIMESTAMPTZ(6) NOT NULL DEFAULT (now() + '30 days'::interval),
    "cancel_at_period_end" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payments" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "amount_usdc" BIGINT NOT NULL,
    "token_symbol" VARCHAR(10) NOT NULL DEFAULT 'USDC',
    "token_mint" VARCHAR(44),
    "payment_source" VARCHAR(30) NOT NULL,
    "helio_transaction_id" VARCHAR(100),
    "solana_tx_signature" VARCHAR(88),
    "periods_paid" SMALLINT NOT NULL DEFAULT 1,
    "period_start" TIMESTAMPTZ(6) NOT NULL,
    "period_end" TIMESTAMPTZ(6) NOT NULL,
    "status" VARCHAR(20) NOT NULL DEFAULT 'completed',
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "helio_webhook_events" (
    "id" UUID NOT NULL,
    "helio_event_id" VARCHAR(100) NOT NULL,
    "event_type" VARCHAR(50) NOT NULL,
    "protocol_id" UUID,
    "payload_hash" VARCHAR(64) NOT NULL,
    "processed" BOOLEAN NOT NULL DEFAULT false,
    "processed_at" TIMESTAMPTZ(6),
    "error" TEXT,
    "received_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "helio_webhook_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_log" (
    "id" UUID NOT NULL,
    "protocol_id" UUID,
    "actor_id" UUID,
    "actor_role" VARCHAR(20),
    "action" VARCHAR(80) NOT NULL,
    "resource_type" VARCHAR(40),
    "resource_id" VARCHAR(100),
    "old_value" JSONB,
    "new_value" JSONB,
    "ip_hash" VARCHAR(64),
    "user_agent" TEXT,
    "timestamp" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "portal_sessions" (
    "id" UUID NOT NULL,
    "wallet_hash" VARCHAR(64) NOT NULL,
    "jwt_jti" VARCHAR(36) NOT NULL,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,
    "revoked" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "portal_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "portal_users" (
    "wallet_hash" VARCHAR(64) NOT NULL,
    "email_hash" VARCHAR(64),
    "opt_in_all" BOOLEAN NOT NULL DEFAULT true,
    "opt_in_defi" BOOLEAN NOT NULL DEFAULT true,
    "opt_in_governance" BOOLEAN NOT NULL DEFAULT true,
    "opt_in_marketing" BOOLEAN NOT NULL DEFAULT false,
    "digest_mode" BOOLEAN NOT NULL DEFAULT false,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "portal_users_pkey" PRIMARY KEY ("wallet_hash")
);

-- CreateTable
CREATE TABLE "protocol_settings" (
    "protocol_id" UUID NOT NULL,
    "admin_email_hash" VARCHAR(64),
    "admin_email_encrypted" BYTEA,
    "website_url" TEXT,
    "logo_url" TEXT,
    "logo_verified_at" TIMESTAMPTZ(6),
    "bimi_enabled" BOOLEAN NOT NULL DEFAULT false,
    "notification_categories" TEXT[] DEFAULT ARRAY['defi', 'governance', 'system']::TEXT[],
    "custom_from_name" VARCHAR(100),
    "helio_subscription_id" VARCHAR(100),
    "helio_customer_id" VARCHAR(100),
    "test_email" VARCHAR(100),
    "test_telegram_id" VARCHAR(100),
    "test_phone" VARCHAR(30),
    "updated_at" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "protocol_settings_pkey" PRIMARY KEY ("protocol_id")
);

-- CreateTable
CREATE TABLE "team_members" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "email_hash" VARCHAR(64) NOT NULL,
    "email_encrypted" BYTEA,
    "role" VARCHAR(20) NOT NULL DEFAULT 'developer',
    "wallet_pubkey" VARCHAR(44),
    "name_encrypted" BYTEA,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "last_login_at" TIMESTAMPTZ(6),
    "invited_by" UUID,
    "invite_token" VARCHAR(100),
    "invite_expires_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "password_hash" VARCHAR(100),
    "totp_enabled" BOOLEAN NOT NULL DEFAULT false,
    "totp_secret" VARCHAR(64),

    CONSTRAINT "team_members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "unsubscribe_tokens" (
    "token_hash" VARCHAR(64) NOT NULL,
    "wallet_hash" VARCHAR(64) NOT NULL,
    "category" VARCHAR(20),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "used_at" TIMESTAMPTZ(6),
    "expires_at" TIMESTAMPTZ(6) NOT NULL DEFAULT (now() + '7 days'::interval),

    CONSTRAINT "unsubscribe_tokens_pkey" PRIMARY KEY ("token_hash")
);

-- CreateTable
CREATE TABLE "bimi_records" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "domain" VARCHAR(255) NOT NULL,
    "selector" VARCHAR(63) NOT NULL DEFAULT 'default',
    "logo_url" TEXT NOT NULL,
    "vmc_url" TEXT,
    "is_verified" BOOLEAN NOT NULL DEFAULT false,
    "dmarc_verified" BOOLEAN NOT NULL DEFAULT false,
    "dns_record_published" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "bimi_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bimi_verification_logs" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "domain" VARCHAR(255) NOT NULL,
    "checkType" VARCHAR(20) NOT NULL,
    "status" VARCHAR(20) NOT NULL,
    "details" JSONB,
    "checkedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "bimi_verification_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notification_templates" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "category" VARCHAR(20) NOT NULL,
    "subject_template" TEXT,
    "html_source" TEXT,
    "text_source" TEXT,
    "herald_footer" VARCHAR(20) NOT NULL DEFAULT 'full',
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "is_default" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notification_templates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "telegram_templates" (
    "id" UUID NOT NULL,
    "protocol_id" UUID NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "category" VARCHAR(20) NOT NULL,
    "text_template" TEXT NOT NULL,
    "buttons" JSONB,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "telegram_templates_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "protocols_protocol_pubkey_key" ON "protocols"("protocol_pubkey");

-- CreateIndex
CREATE INDEX "idx_protocols_pubkey" ON "protocols"("protocol_pubkey");

-- CreateIndex
CREATE UNIQUE INDEX "api_keys_key_hash_key" ON "api_keys"("key_hash");

-- CreateIndex
CREATE INDEX "idx_api_keys_hash" ON "api_keys"("key_hash");

-- CreateIndex
CREATE UNIQUE INDEX "notifications_idempotency_key_key" ON "notifications"("idempotency_key");

-- CreateIndex
CREATE INDEX "idx_notifications_protocol" ON "notifications"("protocol_id", "queued_at" DESC);

-- CreateIndex
CREATE INDEX "idx_notifications_wallet" ON "notifications"("wallet_hash");

-- CreateIndex
CREATE INDEX "idx_notifications_status" ON "notifications"("status");

-- CreateIndex
CREATE INDEX "idx_notifications_idem" ON "notifications"("idempotency_key");

-- CreateIndex
CREATE INDEX "idx_channel_del_notification" ON "channel_deliveries"("notification_id");

-- CreateIndex
CREATE INDEX "idx_channel_del_channel" ON "channel_deliveries"("channel", "success");

-- CreateIndex
CREATE INDEX "idx_webhook_del_webhook" ON "webhook_deliveries"("webhook_id", "attempted_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "dkim_keys_domain_selector_key" ON "dkim_keys"("domain", "selector");

-- CreateIndex
CREATE UNIQUE INDEX "digest_queue_wallet_hash_protocol_id_queued_at_key" ON "digest_queue"("wallet_hash", "protocol_id", "queued_at");

-- CreateIndex
CREATE UNIQUE INDEX "subscriptions_protocol_id_key" ON "subscriptions"("protocol_id");

-- CreateIndex
CREATE UNIQUE INDEX "subscriptions_helio_subscription_id_key" ON "subscriptions"("helio_subscription_id");

-- CreateIndex
CREATE INDEX "idx_subscriptions_status" ON "subscriptions"("status");

-- CreateIndex
CREATE INDEX "idx_subscriptions_expiry" ON "subscriptions"("current_period_end");

-- CreateIndex
CREATE UNIQUE INDEX "payments_helio_transaction_id_key" ON "payments"("helio_transaction_id");

-- CreateIndex
CREATE INDEX "idx_payments_protocol" ON "payments"("protocol_id", "created_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "helio_webhook_events_helio_event_id_key" ON "helio_webhook_events"("helio_event_id");

-- CreateIndex
CREATE INDEX "idx_helio_events_type" ON "helio_webhook_events"("event_type", "received_at" DESC);

-- CreateIndex
CREATE INDEX "audit_log_action_timestamp_idx" ON "audit_log"("action", "timestamp" DESC);

-- CreateIndex
CREATE INDEX "audit_log_actor_id_timestamp_idx" ON "audit_log"("actor_id", "timestamp" DESC);

-- CreateIndex
CREATE INDEX "audit_log_protocol_id_timestamp_idx" ON "audit_log"("protocol_id", "timestamp" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "portal_sessions_jwt_jti_key" ON "portal_sessions"("jwt_jti");

-- CreateIndex
CREATE INDEX "portal_sessions_wallet_hash_idx" ON "portal_sessions"("wallet_hash");

-- CreateIndex
CREATE UNIQUE INDEX "team_members_invite_token_key" ON "team_members"("invite_token");

-- CreateIndex
CREATE INDEX "team_members_email_hash_idx" ON "team_members"("email_hash");

-- CreateIndex
CREATE INDEX "team_members_protocol_id_idx" ON "team_members"("protocol_id");

-- CreateIndex
CREATE INDEX "team_members_wallet_pubkey_idx" ON "team_members"("wallet_pubkey");

-- CreateIndex
CREATE INDEX "unsubscribe_tokens_expires_at_idx" ON "unsubscribe_tokens"("expires_at");

-- CreateIndex
CREATE UNIQUE INDEX "bimi_records_protocol_id_domain_key" ON "bimi_records"("protocol_id", "domain");

-- CreateIndex
CREATE INDEX "idx_notif_templates_protocol" ON "notification_templates"("protocol_id", "category");

-- CreateIndex
CREATE INDEX "idx_telegram_templates_protocol" ON "telegram_templates"("protocol_id", "category");

-- AddForeignKey
ALTER TABLE "api_keys" ADD CONSTRAINT "api_keys_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "channel_deliveries" ADD CONSTRAINT "channel_deliveries_notification_id_fkey" FOREIGN KEY ("notification_id") REFERENCES "notifications"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "webhooks" ADD CONSTRAINT "webhooks_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "webhook_deliveries" ADD CONSTRAINT "webhook_deliveries_notification_id_fkey" FOREIGN KEY ("notification_id") REFERENCES "notifications"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "webhook_deliveries" ADD CONSTRAINT "webhook_deliveries_webhook_id_fkey" FOREIGN KEY ("webhook_id") REFERENCES "webhooks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "dkim_keys" ADD CONSTRAINT "dkim_keys_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "email_bounces" ADD CONSTRAINT "email_bounces_notification_id_fkey" FOREIGN KEY ("notification_id") REFERENCES "notifications"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "digest_queue" ADD CONSTRAINT "digest_queue_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subscriptions" ADD CONSTRAINT "subscriptions_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payments" ADD CONSTRAINT "payments_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "helio_webhook_events" ADD CONSTRAINT "helio_webhook_events_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_log" ADD CONSTRAINT "audit_log_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "team_members"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_log" ADD CONSTRAINT "audit_log_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "portal_sessions" ADD CONSTRAINT "portal_sessions_wallet_hash_fkey" FOREIGN KEY ("wallet_hash") REFERENCES "portal_users"("wallet_hash") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "protocol_settings" ADD CONSTRAINT "protocol_settings_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "team_members" ADD CONSTRAINT "team_members_invited_by_fkey" FOREIGN KEY ("invited_by") REFERENCES "team_members"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "team_members" ADD CONSTRAINT "team_members_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "unsubscribe_tokens" ADD CONSTRAINT "unsubscribe_tokens_wallet_hash_fkey" FOREIGN KEY ("wallet_hash") REFERENCES "portal_users"("wallet_hash") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bimi_records" ADD CONSTRAINT "bimi_records_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bimi_verification_logs" ADD CONSTRAINT "bimi_verification_logs_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notification_templates" ADD CONSTRAINT "notification_templates_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "telegram_templates" ADD CONSTRAINT "telegram_templates_protocol_id_fkey" FOREIGN KEY ("protocol_id") REFERENCES "protocols"("id") ON DELETE CASCADE ON UPDATE CASCADE;

